<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Item Type:</strong>
  <%= @menu.item_type %>
</p>

<p>
  <strong>Pub:</strong>
  <%= @menu.pub_profile.name %>
</p>
