<h1>Listing pubs</h1>
 
<table>
  <tr>
    <th>email</th>
    
  </tr>
 
  <% @pubs.each do |pub| %>
    <tr>
      <td><%= pub.email %></td>
      <td><%= link_to 'Show', pub_path(pub) %></td>
    </tr>
    
  <% end %>
</table>
